# Git LFS - track large CSV files (https://git-lfs.github.com)
ICLR/iclr_all_years_submissions.csv filter=lfs diff=lfs merge=lfs -text
ICLR/2025/iclr2025_full_transcript.csv filter=lfs diff=lfs merge=lfs -text
